<p class="text-lg mb-2">Achievements</p>
<div class="grid grid-cols-4">
  @for (item of stickers().slice(0,8); track $index ;) {
  <div
    (click)="showDialog()"
    class="relative w-[70px] h-[70px] hover:opacity-60 cursor-pointer"
  >
    <img width="70" height="70" [src]="item.image" alt="" />
    @if ($index === 7) {
    <button
      (click)="showDialog()"
      class="absolute inset-0 flex items-center justify-center bg-black/50 text-white text-2xl font-bold rounded-md hover:bg-black/70 transition cursor-pointer"
    >
      +
    </button>
    }
  </div>
  }
</div>

<p-dialog header="Achievements" [modal]="true" [(visible)]="visible">
  <div class="grid grid-cols-1 gap-3">
    @for (item of stickers(); track $index) {
    <div class="flex flex-row gap-4">
      <img width="70" height="70" [src]="item.image" alt="" />
      <div>
        <p class="font-bold">{{ item.name }}</p>
        <p class="font-light">{{ item.description }}</p>
        <p class="text-green-400">{{ item.percent }}</p>
      </div>
    </div>
    }
  </div>
</p-dialog>
