@if (!isFetching()) {
<div class="p-5 mx-10 pt-24 z-10">
  <div class="">
    <img
      width="full"
      height="auto"
      [src]="selectedGame().background_image"
      alt=""
      class="absolute top-1 center w-full opacity-5"
    />
  </div>
  <h1 class="font-bold lg:text-5xl text-3xl text-green-400 mb-2">
    {{ selectedGame().name }}
  </h1>
  <div class="grid lg:grid-cols-3 grid-cols-1 gap-5">
    <div class="col-span-2 lg:mb-2 sm:mb-5">
      <!-- carousel -->
      <p-galleria [value]="screenshots()" [numVisible]="5">
        <ng-template #item let-item>
          <img [ngSrc]="item.itemImageSrc" width="750" height="360" priority />
        </ng-template>
        <ng-template #thumbnail let-item>
          <img
            [ngSrc]="item.thumbnailImageSrc"
            width="120"
            height="70"
            sizes="(max-width: 768px) 100vw, 50vw"
          />
        </ng-template>
      </p-galleria>
    </div>
    <div class="col-span-1 flex flex-col items-center px-5">
      <!-- image 2 -->
      <div class="flex flex-row items-center mb-5">
        <img
          width="420"
          height="auto"
          [src]="selectedGame().background_image"
          alt=""
          priority
        />
      </div>
      <!-- rating  -->
      <div
        class="flex flex-row justify-center w-full items-center my-1 gap-5 mb-5"
      >
        <app-esrb-rating [rating]="selectedGame().esrb_rating" />
        <div>
          <div class="font-medium text-md mb-1">Metascore</div>
          <div class="flex justify-center mb-1">
            <p
              class="border p-1 border-green-500 rounded-lg text-green-400 text-2xl font-semibold"
            >
              {{ selectedGame().metacritic }}
            </p>
          </div>
        </div>
      </div>
      <div class="border border-b border-shark-800 w-sm"></div>
      <!-- rating 2 -->
      <div class="grid grid-cols-2 mt-3 w-full px-5 gap-4 mb-5">
        <div
          class="bg-shark-400 px-2 rounded-lg text-shark-950 font-bold w-fit whitespace-nowrap"
        >
          <span class="font-medium">Rating: </span>{{ selectedGame().rating }}
        </div>
        <div
          class="bg-shark-400 px-2 rounded-lg text-shark-950 font-bold w-fit whitespace-nowrap"
        >
          <span class="font-medium">Rating count: </span
          >{{ selectedGame().reviews_count }}
        </div>
      </div>
      <!-- buttons -->
      <div class="my-3 px-5 w-full">
        <button
          class="bg-green-600 font-semibold rounded-xl w-full p-4 mb-4 hover:-translate-y-1 hover:scale-110 transform ease-in-out duration-75"
        >
          Add to My Games
        </button>
        <button
          class="bg-shark-800 font-medium rounded-xl w-full p-4 mb-4 hover:-translate-y-1 hover:scale-110 transform ease-in-out duration-75"
        >
          Add to Wishlist
        </button>
      </div>
    </div>
  </div>
  <div class="grid lg:grid-cols-3 grid-cols-1 gap-5 p-2 px-4">
    <div class="col-span-2">
      <div class="mb-10">
        <h1 class="font-semibold text-2xl mb-2">About</h1>
        <p
          appExpandableTextDirective
          class="md:text-md mb-2 text-justify"
          [text]="selectedGame()?.description"
          [limit]="500"
          [showMore]="showMoreDescription"
        >
          {{ selectedGame().description_raw }}
        </p>
        <button (click)="toggleShowMoreDescription()">
          {{ showMoreDescription ? "Show Less" : "Show More" }}
        </button>
      </div>
      <div class="flex flex-row justify-around mb-10">
        <div>
          <div class="font-semibold text-xl mb-2">Genres</div>
          <div class="flex flex-row gap-4">
            @for (genre of selectedGame().genres; track genre.id) {
            <p class="bg-green-400/50 rounded-md text-center w-fit px-1">
              {{ genre.name }}
            </p>
            }
          </div>
        </div>
        <div class="border-1 border-r"></div>
        <div>
          <div class="font-semibold text-xl mb-2">Platforms</div>
          <div class="flex flex-row gap-4">
            @for (pt of selectedGame().platforms; track pt.platform.id) { @if
            (svgList.includes(pt.platform.slug)) {
            <app-platform-icon [icon]="pt.platform.slug" />
            }}
          </div>
        </div>
      </div>
      <div class="mb-10">
        <p class="text-shark-600">tags</p>
        <div class="flex flex-wrap gap-2">
          @for (item of selectedGame().tags; track item.id) {
          <span class="px-2 bg-green-700 text-shark-100 rounded-lg w-fit">
            {{ item.name }}
          </span>
          }
        </div>
      </div>
      @for (pt of selectedGame().platforms; track pt.id) { @if(pt.platform.slug
      ==='pc'){@if (pt.requirements.minimum || pt.requirements.recommended) {
      <div class="mb-5">
        <h1 class="font-semibold text-2xl mb-2">System requirements for PC</h1>
        <div class="grid grid-cols-2 gap-5 px-2">
          <div>
            <p class="font-semibold text-lg">Minimum:</p>
            <p
              appExpandableTextDirective
              class="md:text-md mb-2 px-2 text-justify"
              [text]="pt.requirements.minimum"
              [limit]="300"
              [showMore]="showMoreRequirements"
            >
              {{ pt.requirements.minimum }}
            </p>
          </div>
          <div>
            <p class="font-semibold text-lg">Recommended:</p>
            <p
              appExpandableTextDirective
              class="md:text-md mb-2 px-2 text-justify"
              [text]="pt.requirements.recommended"
              [limit]="300"
              [showMore]="showMoreRequirements"
            >
              {{ pt.requirements.recommended }}
            </p>
          </div>
        </div>
        <button (click)="toggleShowMoreRequirements()">
          {{ showMoreRequirements ? "Show Less" : "Show More" }}
        </button>
      </div>
      } } }
    </div>
    <div class="col-span-1 flex flex-col items-center px-5">
      <div class="border border-b border-shark-800 w-sm"></div>
      <div class="w-full px-8 mt-2">
        <div class="flex flex-row justify-between mb-3">
          <p>Released Date:</p>
          <p class="text-green-500">
            {{ selectedGame().released | date }}
          </p>
        </div>
        <div class="flex flex-row justify-between mb-3">
          <p>Publisher/s:</p>
          <p class="text-green-500">
            @for (item of selectedGame().publishers; track item.id) {
            {{ item.name }}
            }
          </p>
        </div>
      </div>
      <div class="my-3 px-5 w-full">
        <app-stores [stores]="stores()" />
      </div>
      <div class="my-3 px-5 w-full">
        <app-achievements [stickers]="stickers()" />
      </div>
    </div>
  </div>
</div>
}@else {
<div class="p-5 px-10">
  <p-skeleton width="30rem" height="4rem" />
  <div class="flex flex-row gap-10 p-5">
    <p-skeleton width="55rem" height="30rem" />
    <p-skeleton width="25rem" height="15rem" />
  </div>
  <div class="flex flex-col gap-2 p-5">
    <p-skeleton width="55rem" height="15rem" />
    <p-skeleton width="55rem" height="15rem" />
    <p-skeleton width="55rem" height="15rem" />
  </div>
</div>
}
