@if(!isFetching()){
<div class="pt-24">
  <p-carousel
    [value]="games()"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    autoplayInterval="10000"
  >
    <ng-template let-game #item>
      <div>
        <img
          class="absolute -z-1 opacity-15 w-full h-full object-cover"
          [src]="game.background_image"
          alt=""
        />
      </div>
      <div
        class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4"
      >
        <div class="mb-4">
          <div class="relative mx-auto">
            <div class="flex flex-col md:flex-row gap-5">
              <div class="w-full md:w-6/12 h-60 md:h-96">
                <img
                  class="h-full w-full object-cover rounded-md"
                  [src]="game.background_image"
                  [alt]="game.name"
                />
              </div>
              <div
                class="flex flex-col justify-between gap-2 p-5 w-full md:w-6/12"
              >
                <div>
                  <div
                    class="text-2xl md:text-3xl text-center mb-5 font-bold text-green-400"
                  >
                    {{ game.name }}
                  </div>
                  <div class="m-2">
                    <div class="flex flex-wrap gap-2 mb-2">
                      @for (genre of game.genres; track genre.name) {
                      <p
                        class="bg-green-400/50 rounded-md text-center px-2 py-1 text-sm"
                      >
                        {{ genre.name }}
                      </p>
                      }
                    </div>
                    <app-game-description [gameId]="game.id" />
                  </div>
                </div>
                <div>
                  <div class="flex flex-wrap justify-between my-5 m-2">
                    <div class="flex flex-wrap gap-2">
                      @for (pt of game.platforms; track pt.platform.id) { @if
                      (svgList.includes(pt.platform.slug)) {
                      <app-platform-icon [icon]="pt.platform.slug" />
                      }}
                    </div>
                    <div class="flex items-center gap-2">
                      <i class="pi pi-star-fill text-yellow-300"></i
                      >{{ game.rating }}
                    </div>
                  </div>
                  <div
                    class="flex flex-col md:flex-row gap-4 justify-between items-center"
                  >
                    <button
                      class="w-full md:w-auto bg-green-600 font-semibold text-md p-3 rounded-xl hover:bg-green-800 transition ease-in-out duration-75 hover:-translate-y-1 cursor-pointer"
                    >
                      <span class="pi pi-heart mr-2"></span>
                      Add to Favorites
                    </button>
                    <button
                      class="w-full md:w-auto bg-shark-950 border border-green-500 font-semibold text-sm p-3 rounded-xl hover:bg-shark-900 transition ease-in-out duration-75 hover:-translate-y-1 cursor-pointer"
                    >
                      View Details
                      <span class="pi pi-arrow-right ml-2"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
}@else {
<div class="mx-5 md:mx-20 h-60 md:h-96 p-5 pt-24">
  <p-skeleton width="full" height="15rem md:25rem" />
</div>
}
